# Environments
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Project Data & Images
yolo_data/
visualizations/
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tif
*.tiff
!images/**

# YOLO runs and model weights
runs/
*.pt
*.pth
*.onnx

# IDEs and OS files
.DS_Store
.vscode/
.idea/
*.swp
*.swo
